@import '../../index.scss';

.altCoinLogo {
  height: 200px;
  margin-top: 20px;
  transition: transform .2s;
  width: 200px;
}

.altCoinLogo:hover {
  transform: scale(1.1);
}

.altCoinLink:hover {
  cursor: pointer;
}

.altCoinContainer {
  align-items: center;
  text-align: center;
}

.altCoinCost {
  margin-top: 20px;
  font-size: 36px;
}
