@import './styles/color.scss';
@import './styles/type.scss';

body {
  margin: 0;
  padding: 0;
  font-family: $regular;
}

header {
  background-color: $slate2;
  height: 100px;
}

.altCoinContainer {
  align-items: center;
  text-align: center;
}

.altCoinLogo {
  height: 200px;
  margin-top: 20px;
  transition: transform .2s;
  width: 200px;
}

.altCoinLogo:hover {
  transform: scale(1.1);
}

.altCoinLink:hover {
  cursor: pointer;
}
